:root {
  --primary-color: #011724;
  --second-color: #dbb697;
  --background-color: #002338;
  --success-color: #a1c5a3;
  --fault-color: #f1987a;
  --dark-color: #2b2d3c;
  --light-color: #f9f1f1;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html * {
  font-family: 'Poppins', sans-serif;
}
