.container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;

  .checkboxWrapper {
    display: flex;
    align-items: center;

    input[type='checkbox'] {
      position: relative;
      cursor: pointer;
    }

    input[type='checkbox']:before {
      content: '';
      border-radius: 0.4rem;
      display: block;
      position: absolute;
      align-items: center;
      width: 2rem;
      height: 2rem;
      top: -0.4rem;
      left: -0.2rem;
      right: -0.2rem;

      border: 0.1rem solid var(--light-color);
      background-color: lightgray;
    }
    input[type='checkbox']:checked:before {
      content: '';
      border-radius: 0.4rem;
      display: block;
      position: absolute;
      align-items: center;
      width: 2rem;
      height: 2rem;
      top: -0.4rem;
      left: -0.2rem;
      background-color: var(--success-color);

      border: 0.1rem solid var(--success-color);
    }

    input[type='checkbox']:checked:after {
      content: '';
      display: block;
      width: 0.5rem;
      height: 1.2rem;
      border: 1rem solid var(--dark-color);
      border-width: 0 0.2rem 0.2rem 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      top: -0.2rem;
      left: 0.5rem;
    }

    label {
      font-size: 1.6rem;
      color: var(--dark-color);
      margin-left: 1.5rem;
    }
  }
  a {
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--dark-color);
    cursor: pointer;
  }
}
